<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>ความช่วยเหลือ</h1>
    <p class="data_p">คู่มือการใช้งานเว็บไซด์</p>
    <p class="data_p">คู่มือการใช้งานแอนดรอยแอพพลิเคชั่น</p>
  </body>
</html>