<h1>สร้างวิชาเรียน</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>

<br><br>
<%= link_to 'ย้อนกลับ', studies_path, class: "btn btn-primary active" %>
