<footer class="footer">
  <small>
    <p>เว็บไซด์นี้เป็นส่วนหนึ่งของวิชาโครงงาน 1 และ 2</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "เกี่ยวกับ",   about_path %></li>
      <li><%= link_to "ติดต่อผู้ดูแลระบบ", contact_path %></li>
      <li><a href="http://www.kmutnb.ac.th/">ข่าวสารเกี่ยวกับมหาวิทยาลัย</a></li>
    </ul>
  </nav>
</footer>